#sbubble_plot {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#choropleth_map {
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#donut_chart{
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#box_plot{
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#bar_chart{
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#radial_chart{
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}

#scatter_matrix{
	left: 100px;
	right: 100px;
	/*height: 1000px;
	width: 800px;*/
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

  
.column {
	float: left;
	width: 50.00%;
	padding: 5px;
  }
  
  /* Clearfix (clear floats) */
.row::after {
	content: "";
	clear: both;
	display: table;
  }